@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    @apply w-[1100px] mx-auto
}

/* image transition */
.img-parent{
    @apply rounded-md overflow-hidden relative
}
.img-parent:hover .image-control {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.2);
}
.image-control {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
}
.img-content{
    @apply absolute bottom-0 left-0 p-2 text-white w-full
}
.article-tag{
    @apply mb-2 font-medium py-1 px-2 border border-sky-400
}
.img-parent:hover .article-tag{
    @apply bg-white text-sky-500 duration-300 ease-in-out transition-all
}